*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins", sans-serif;
}



body{
    background-color: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 4rem;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 9.3rem;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db000d;
    color: white;
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
}
.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 0.01rem solid white;
}

.lang-btn i{
    width:0.8rem ;
    margin-left: 0.4rem;
}

.header-cont{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 4rem;
}

.header-cont h1{
    font-size: 3.4rem;
    line-height: 5rem;
    font-weight: 600;
}

.header-cont h3{
    font-weight: 400;
    margin-bottom: 1rem;
}

.email-signup{
    background: white;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
    overflow: hidden;
}

.features .email-signup{
    background: white;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    margin: 1rem 10rem;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    font-size: 1rem;
    margin-left: 1.2rem;
}
.email-signup button{
    border: 0;
    outline: 0;
    background: #db000d;
    color: white;
    cursor: pointer;
    padding: 1rem 3rem;
}
.features{
    padding: 2rem 10%;
    font-size: 1.5rem;
}

.features .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.img-col{
    flex-basis: 50%;
    margin-top: 1rem;
}
.text-col{
    flex-basis: 50%;
    margin-top: 1rem;
}
.img-col img{
    width: 90%;
}
.features h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.faq{
    display: flex;
    flex-direction: column;
    padding: 0.6rem 15rem;
    text-align: center;
    font-size: 1.1rem;
    justify-content: center;
}

.faq h2{
    font-weight: 500;
    font-size: 2rem;
}

.accordian{
    margin: 0;
    width: 100%;
    max-width: 40rem;
}

.accordian li{
    list-style: none;
    width: 100%;
    padding: 0.3rem;
}

.accordian li label{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 0.1rem;
    cursor: pointere;
    position: relative;
}

label::after{
    content: "+";
    font-size: 2.1rem;
    position: absolute;
    right: 1.2rem;
    transition: transform 0.5s;
}

input[type = "radio"]{
    display: none;
}

.accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type = "radio"]:checked + label + .content{
    max-height: 37rem;
    padding:1.8rem 1.2rem;
}
.accordian input[type= "radio"]:checked + label::after{
    transform: rotate(225deg);
}

.faq .email-signup{
    max-width: 36rem;
}


.faq small{
    font-size: 0.9rem;
    margin-top: 2rem;
}
.footer{
    max-width: 100vw;
    padding: 5rem 7rem 2rem;
    border-top: 0.4rem solid rgb(57, 56, 56);
    color: #777;
}

.footer h2{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2.8rem;
}
.footetr.col{
    flex-grow: 1;
    margin-bottom: 1.2rem;
}

.footer .col a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #777;
    font-size: 0.8rem;
    margin-bottom: 0.9rem;
}

.footer .row{
    display: flex;
}

.footer .lang-btn{
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.copyright-txt{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}
/*------------- Media Queries --------*/
@media only screen and (max-width: 449px){
    html{
        font-size: 80%;
    }
    .logo{
        width: 7.25rem;
    }

    nav button{
        padding: 0.7rem 0.9rem;
    }

    nav .lang-btn{
        padding: 0.4rem 0.6rem;
    }

    .header{
        padding: 10px 1.4rem;
    }
    .header-cont h1{
        font-size: 1.9rem;
        line-height: 3.5rem;
    }

    .header-cont h3{
        font-size:1rem;
    }

    .header-cont p{
        font-size: 0.8rem;
    }

    .email-signup button{
        font-size: 0.8rem;
        padding: 0.8rem 0.1rem;
        width: 5rem;
    }

    .img-col,
    .text-col{
        flex-basis: 100%;
    }

    .features{
        text-align: center;
    }.features p {
        font-size: 1rem;
      }
      .row:nth-child(2),
      .row:nth-child(4) {
        flex-direction: column-reverse;
      }
    
      .faq {
        padding: 0.4rem 1rem;
      }
    
      .accordian li label {
        padding-left: 0;
        padding-right: 0;
        padding: 0.8rem 1rem;
        margin: 0rem 0rem 0rem 0rem;
      }
    
      .footer {
        margin: 0;
        padding: 3rem 3rem;
      }
      .footer .col a {
        font-size: 0.5rem;
        margin: 0.4rem 0.5rem;
      }
      .footer .row {
        display: flex;
        flex-direction: row;
      }
      .footer .row li a {
        font-size: 0.01rem;
      }
    }
    
    @media only screen and (min-width:500px) and (max-width: 950px) {
      html {
        font-size: 90%;
      }
    
      .logo {
        width: 7.25rem;
      }
      nav button {
        padding: 0.7rem 0.9rem;
      }
      nav .lan-btn {
        padding: 0.4rem 0.6rem;
      }
      .header {
        padding: 10px 1.4rem;
      }
      .header-cont {
        margin-top: 0rem;
      }
      .header-cont h1 {
        font-size: 2rem;
        line-height: 3.5rem;
      }
      .header-cont h3 {
        font-size: 1.4rem;
      }
      .header-cont p {
        font-size: 0.8rem;
      }
      .header-cont .email-signup {
        width: 27rem;
      }
      .email-signup {
        margin: 1rem 7rem;
      }
      .email-signup button {
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
        width: 5rem;
      }
      .img-col,
      .text-col {
        flex-basis: 100%;
      }
      .features {
        text-align: center;
      }
      .features h2 {
        font-size: 1.8rem;
        text-align: center;
      }
    
      .features p {
        font-size: 1rem;
      }
      .row:nth-child(2),
      .row:nth-child(4) {
        flex-direction: column-reverse;
      }
    
      .faq {
        padding: 0.4rem 7rem;
      }
    
      .accordian li label {
        padding-left: 0;
        padding-right: 0;
        padding: 0.8rem 1rem;
        margin: 0rem 0rem 0rem 0rem;
      }
    
      .footer {
        margin: 0;
        padding: 3rem 3rem;
      }
      .footer .col a {
        font-size: 0.9rem;
        margin: 0.4rem 0.5rem;
      }
      .footer .row {
        display: flex;
        flex-direction: row;
      }
      .footer .row li a {
        font-size: 1rem;
      }
    }
